# ptos_arm_defconfig - ARM configuration for pTOS
#
# The library builds cleanly with this: crt0 and the GEMDOS/BIOS/XBIOS
# trap layer (osbind.h/mintbind.h) are implemented, including the
# handful of BIOS/XBIOS calls needing more than 4 arguments. This
# hasn't been tested end to end against a running pTOS yet. See
# https://github.com/kelihlodversson/libcmini/issues/1 for details.

ARCH_ARM=y
STDIO_MAP_NEWLINE=y
